

.menuitem {
	font-family: Helvetica;
	letter-spacing: -1px;
	
	z-index:8888;


}



.menuitem.selected {
	color: rgba(43,43,43,0.6);
	background-color: white;
	
	background-image:none;
	
	text-decoration:none;
}

.menuitem:hover, #centerbuttonarea:hover {
	/*
	-moz-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	*/
}

nav {
	margin: 0px auto;
	position:fixed;
}



#menu {
	overflow:contain;
}



