html, body, #map_canvas { margin: 0; padding: 0; height: 100% }

@media only screen 
and (min-device-width : 1024px) {
	#menuarea a {
		color:white;
	}
	
	#menuarea {
		height:20%;
		margin:0px;
		padding:0px;
	}

#menuarea li {
	text-align: center;
	display:inline;
	float:left;
	background-color:grey;
	padding:7px;
	margin-right:2px;
	/*
	color:white;
	margin:0px 0px;
	background-color:grey;*/
}
#menuarea ul {
	float:right;
	display:inline;
}

}

@media only screen 
and (max-device-width : 1024px) {
	
	#menuarea {
		/*height:20%;*/
		margin:0px;
		padding:0px;
	}

	#menuarea a {
		color:white;
		font-size: 5em;
	}
#menuarea li {
	text-align: center;
	display:block;
	/*
	float:left;*/
	background-color:grey;
	padding:7px;
	margin:30px 0px;
	/*
	color:white;
	margin:0px 0px;
	background-color:grey;*/
}
#menuarea ul {
	display:block;
	/*float:right;
	*/
}

}

#overlay {
	display:inline;
}
h2,p {
	margin:0px;
	padding:0px;
	display:inline;
}
#login {
	display:inline;
	/*float:right;*/
}